<nav>
  <a routerLink="/intro" routerLinkActive="active">Intro</a>
  <a routerLink="/todo" routerLinkActive="active">Todo</a>
</nav>

<router-outlet></router-outlet>

<!--<app-intro></app-intro>
<app-todo></app-todo>-->

