<strong>INTRO</strong>
<table>
  <colgroup>
    <col style="width: 100px;">
    <col style="width: 200px;">
    <col>
  </colgroup>
  <thead>
  <tr>
    <td>이름</td>
    <td>휴대폰 번호</td>
    <td>주소</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of JSON_DATA">
    <td>{{data.name}}</td>
    <td>{{data.phone}}</td>
    <td>{{data.address1 + data.address2}}</td>
  </tr>
  </tbody>
</table>
