<div class="title">
  <h1>나의 하루</h1>
  <h2>2017.09.06</h2>
</div>
<div>
  <!--<div *ngFor="let todo of todos; let i = index" (click)="toggleTodo(todo)">-->
  <div *ngFor="let todo of todos; let i = index">
    <app-todo-item [todo]="todo" [idx]="i" (removeEl)="removeTodo($event)" (modifyEl)="modifyTodo($event)"></app-todo-item>
  </div>
  <div>
    <app-add-todo (onTodoAdded)="addTodo($event)"></app-add-todo>
  </div>
</div>
